# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyo
.Python
.env
venv/
ENV/
env.bak/
.venv/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# VS Code
.vscode/

# macOS
.DS_Store

# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build output
build/

# Logs
logs/
*.log

# Static files
staticfiles/
static/

# dotenv environment variables file
.env

# IDEs and editors
.idea/

# System files
Thumbs.db
